body  {
    background-image: url(../assets/img/background/6543d31b36ebffa7fb3da596_home-hero-bg.webp);
    background-blend-mode: soft-light;
	background-size: cover;
	margin: 0px;	
}

/*Question Section Alignments*/
#quiz-container{
    display: flex;
	flex-direction: column;
    align-items: center;
}
#question-container,
#result-container {    
    border-radius: 15px;
    padding:0 20px 20px;
    height:70vh;
    width: 60vw;
    display:flex;
    flex-direction:column;
    background: #ffffff26;
    /*background-blend-mode:overlay;
    box-shadow:#00000045 25px 25px 15px 15px;
    box-sizing:content-box; 
    justify-content: space-evenly;*/
    justify-content: space-between;
    align-items: center; 
}
#question-container #question-text,
#result-container h2 {
    width: 96%;
    background: #0000004f;
    padding: 20px 20px 20px 66px;
    margin: 0;
    font-size: 24px;
    text-align: left;
    height: 100px;
    display: flex;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
div#options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top:40px;
    width: 100%;
}
#options-container button {
    width: 40%;
    padding: 20px 10px;
    margin-bottom: 15px;
    /* box-shadow: unset; */
    box-sizing: unset;
    border: 1px solid transparent;
    border-radius: 5px;    
    font-size: 15px;
    cursor: pointer;
    background: #fff;
    color: #3496b0;
}
#options-container button:hover {
    /* background: #0f536a; */
    background: #3496b0;
    color:#fff;
    
}
#quiz-container #next-btn,
#result-container #tryagain-btn {
    margin:20px;
    width: 150px;
    background:hsl(109, 35%, 55%);
    border:none;
    padding:10px;
    border-radius:5px;
    cursor: pointer;
    color: #fff;
}
#quiz-container #next-btn:hover,
#result-container #tryagain-btn:hover {
    background:hsl(109, 33%, 32%);
}

/*Result Section Alignments*/
#result-container{
    padding-top:0;
}
.result-block {
    display: flex;
    padding: 0 17%;
}
.result-block .result-link{
    text-decoration:none;
}
.result-block .result-image-block {
    padding-right: 3rem;
}
.result-block .result-image-block #result-image {
    height:200px;
    width:auto;
}
.result-block .result-text-block {
    display:flex;
    flex-direction: column;
    justify-content: center;    
}
.result-block #result-title {
    color:#fff;
    font-size: 40px;
    text-decoration:none;
    margin: 0 0 20px 0;
}

/*Functionality Classes*/
.hide {
    display: none !important;
}

/*Smartphone Specific Styling*/
@media screen and (max-width: 992px) {
    body {
      font-size: 1.5vh;    
    }
    #quiz-container  h1{
          padding:2vh;
      }
      #question-container, #result-container{
          overflow:hidden;
          height: 79vh;
          width: 75vw;
      }
      #question-container #question-text, #result-container h2{
          font-size: 2.5vh;
          padding: 5vw 10vw;
      }
      #result-container h2{
          padding: 4vw 10vw;
          font-size: 3vh;
      }
      #options-container button{
          width: 80%;
          margin-bottom: 2vh;
          font-size: 1.80vh;
      }
      .result-block{
          flex-direction:column;
          align-items: center;
          padding: 0;
      }
      .result-block .result-image-block{
          padding: 3vh;
      }
      .result-block .result-text-block{
          text-align: left;
          font-size: 3.5vw;
      }
      .result-block #result-title{
          font-size: 6vw;
      }
      div#options-container{
          padding-top: 3vh;
      }
  }